# Go build artifacts
build/
bin/
dist/

# Go cache
*.exe
*.test
*.out

# OS / editor noise
.DS_Store
.idea/
.vscode/

# Env files
frontend/web/.env
.env
.env.*

infra/development/kubernetes/secrets/secrets-identity.yaml
infra/development/kubernetes/secrets/secrets-organization.yaml
infra/development/kubernetes/secrets/secrets-rabbitmq.yaml
infra/development/kubernetes/secrets/secrets-fleet.yaml
infra/development/kubernetes/secrets/secrets-clickhouse.yaml
