@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@layer utilities {
  .animate-in {
    animation-fill-mode: both;
    animation-timing-function: ease;
  }

  .slide-in-from-top {
    animation-name: slideInFromTop;
  }

  .slide-in-from-bottom {
    animation-name: slideInFromBottom;
  }

  .duration-200 {
    animation-duration: 200ms;
  }

  .duration-300 {
    animation-duration: 300ms;
  }

  .duration-700 {
    animation-duration: 700ms;
  }

  .delay-100 {
    animation-delay: 100ms;
  }

  .delay-200 {
    animation-delay: 200ms;
  }

  .delay-300 {
    animation-delay: 300ms;
  }

  .delay-500 {
    animation-delay: 500ms;
  }

  .delay-700 {
    animation-delay: 700ms;
  }
}

@keyframes slideInFromBottom {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInFromTop {
  from {
    opacity: 0;
    transform: translateY(-2rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.leaflet-tooltip.fleet-label {
  background: white;
  color: black;
  border-radius: 8px;
  padding: 4px 10px;
  font-size: 12px;
  border: none;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

